/************************************************
/* Fungsi-fungsi dasar
************************************************/

/* Fungsi cari lebar 1 kolom */
@function getcol($col:$columns, $gut:$gutter) {
    @return abs(100 - $col * ($gut * 2 )) / $col;
}

/* Fungsi cari total lebar kolom */
@function getwidth($col, $span, $gut:$gutter) {
    $aCol: getcol($col, $gut);
    @return ($aCol * $span) + ($gut * 2 * ($span - 1)) * 1%;
}

/* Fungsi geser kolom */
@function push($shift, $col:$columns, $gut:$gutter) {
    $aCol: getcol($col, $gut);
    @return ($aCol * $shift) + ($gut * 2 * $shift) * 1%;
}

/**************************************************
* Mixins
***************************************************/

/* Mixin untuk baris */
@mixin row($max-width: $wrap-width) {
    max-width: $max-width;
    position: relative;
    margin: 0 auto;
    width: 100%;
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Mixin untuk kolom
@mixin no($span:1, $col:$columns, $gut:$gutter) {
    width: getwidth($col, $span, $gut);
    float: left;
    min-height: 1px;
    position: relative;
    padding: 0 $gutter * 1%;
}

// mixin untuk shift
@mixin shift($shift) {
    margin-left: push($shift);
}
